<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('includes/head') %>
    <title>Escuela Online - Sentir el Ser</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/css/include-aprende.css">
    <link rel="stylesheet" href="/css/include-formaciones.css">
    <link rel="stylesheet" href="/css/include-testimonios.css">
    <link rel="stylesheet" href="/css/about-us.css" type="text/css"/>
  </head>
  <body class="bg-about-us">
    <%-include('includes/header')%>

    <!-- -----------------------------------------------MAIN----------------------------------------------- -->
    <main>
        <div>
            <h2 class="h2-about-us">La ESCUELA</h2>
            <div id="box-escuela-descripcion">
            <p id="escuela-descripcion"> <span> ¿Sabías que existe un Sentir Perfecto que habita en nosotros y que la sabiduría, la
                salud y la felicidad nacen de la armonía con este Gran Sentir? </span>
                Somos Micaela Prusso y Santiago Roldán. Juntos desarrollamos una serie de cursos y terapias
                holísticas, inspiradas principalmente de la fusión de la Astrología y la Filosofía. Relacionando
                las sabidurías Astrológicas y Filosóficas, ancestrales y contemporáneas, hemos creado una
                Astrología Filosófica y una Filosofía de la Astrología. <br><br>
                A través del Coaching Astro-Filosófico, queremos acompañarte en tu proceso de sanación y
                evolución, brindándote distintas herramientas para el equilibrio corporal, mental y espiritual. 
                Creemos en la diversidad de caminos hacia la transformación y expansión de la consciencia.
                En la necesidad de liberarnos de los condicionamientos que nos llevan a repetir conductas
                individuales y prácticas sociales que ya no son beneficiosas. En la posibilidad de vivir libre y
                responsablemente una vida más plena. <br><br>
                Por medio de cursos online, talleres y sesiones particulares, brindándote material en videos y
                escritos, con diferentes juegos, actividades y ejercicios, podemos guiarte hacia tu crecimiento
                personal y la integración del ser en su totalidad. A partir del conocimiento de las energías
                cósmicas que te conforman, podrás desarrollar tus potencialidades y transformar tu vida. <br><br>
                Nuestra energía está dirigida a personas que estén en una búsqueda espiritual genuina, y
                quieran trascender sus creencias y su personalidad, acercándose al ser. También a estudiantes
                de Astrología y Filosofía que deseen adquirir herramientas enfocadas al desarrollo evolutivo. 
                Creemos y sentimos que más allá de las emociones, la razón y los diferentes estados que
                podemos atravesar, existe un sentir perfecto en todos nosotros. Una gran fuerza, de la cual
                nacimos, que conforma nuestra energía vital. Nacimos en armonía con el Universo y el sentir
                sagrado que lo conforma. Ese es nuestro estado natural; eso lo que es lo que realmente
                somos. <br><br>
                Por eso, nuestra intención es acompañar a las personas en la trascendencia del yo, para que
                puedan no solo comprender que son parte del todo, sino también sentirlo, y cada vez más.
                Sentir que somos el todo, el misterio del ser, la unidad de todo lo que conforma al cosmos, es
                vivir en armonía con el perfecto sentir que somos y sentir el ser.</p>
                </div>
        </div>
        
        <div id="profes">
            <h2 class="h2-about-us">PROFESORES</h2>
            <section>
                <article  class="box-profesores" id="profesores-santi">
                    <img id="profesores-img-santi" src="/img/FotoSantiagoRoldán.jpeg" alt="profesor santiago roldan">
                    <div class="box-profesores">
                    <h3 class="profesores-nombre">Santiago Roldan</h3>
                    <p class="profesores-descripcion"><span>“La totalidad de la fuerza del Universo esta contenida en nuestro Ser”</span>
                        Nací en la ciudad de Mar del Plata, en Argentina, donde me crié teniendo la oportunidad de
                        llenarme de la pureza y energía del Mar. En mi adolescencia comencé a relacionarme con el
                        mar de manera diferente y cada día caminaba hacia allí donde pasaba el tiempo contemplando,
                        reflexionando y escribiendo. Siempre estuvo presente el juego, pero al pasar los años, mi
                        consciencia comenzó a despertarse y a dejarse encantar por las melodías del Mar.<br><br> 
                        Les hablo del Mar por que fue allí donde nacieron mis reflexiones filosóficas y se formularon
                        mis primeras preguntas existenciales. Ante el asombro por la inmensidad del Mar, la salida de
                        la Luna Roja del agua, y la contemplación de las estrellas, la inspiración, el sentir y la escritura
                        comenzaron a desarrollarse naturalmente en mi modo habitual de ser.<br><br> 
                        La curiosidad sobre los misterios de la vida me llevó a inscribirme en la carrera de Profesor en
                        Filosofía, en la Universidad Nacional de Mar del Plata, donde me gradué. Allí me vincule con
                        profesores, estudiantes e intelectuales, interesados principalmente en la Metafísica, que me
                        orientaron en lecturas de distintas filosofías sobre el Ser.<br><br> 
                        A los 24 años conocí el Chamanismo y comencé un camino de sanación con plantas sagradas
                        que me ayudó a potenciar mis capacidades humanas. La sensibilidad, la apertura de los
                        sentidos, la conexión con las señales del cuerpo y la Naturaleza, me fueron guiando hasta
                        conocer a Micaela, mi compañera de trabajo y de vida a quien amo.<br><br> 
                        Todo lo que fui cultivando durante mi juventud a través de la reflexión, la meditación, el estudio
                        y la escritura, finalmente tomó forma, dirección y cobró sentido a partir de los diálogos que
                        surgieron entre nosotros al entrelazar la Filosofía y la Astrología, encontrando los infinitos
                        puntos que pueden tejerse entre ambas fuentes de sabiduría.<br><br> 
                        Continúo estudiando Filosofía, por mi cuenta, con grupos de estudio y a través de cursos.
                        También profundizando en prácticas ancestrales como el Tantra y el Kung Fu. Hoy vivo
                        apasionado por este Amor y conexión que siento con Micaela, que potencia mi Energía
                        Creativa y capacidad de canalizar en sueños y meditaciones, sobre los contenidos y las formas
                        de los distintos cursos que compartimos.<br><br> 
                        Tengo la intención de seguir profundizando en mi superación personal, para poder vivir cada
                        día con mayor armonía con la Vida. Quiero compartir mis aprendizajes y acompañar a las
                        personas en su transformación personal, brindándoles las incontables herramientas y consejos
                        prácticos que nos trae el ejercicio de la Filosofía para la vida cotidiana.<br><br> 
                        El Coaching Astro-Filosófico, se apoya en las filosofías de grandes sabios, en las
                        cosmovisiones de las culturas ancestrales, en la biodescodificación y en las distintas
                        Astrologías de la historia. Porque, para poder coachear, es necesario apoyarse en fuentes de
                        conocimientos genuinas y con fundamentos. Por eso siento que puedo acompañarte en tu
                        proceso de sanación y auto superación, desde una base de estudio sólida y profunda, que he
                        experimentado y visto funcionar en las personas que me rodean. Desarrollemos juntos las
                        habilidades innatas de tu Ser.
                        <span class="contacto-profesores">
                        Contacto
                        <a href="https://www.instagram.com/santi_filo/"> <i class="instagram fab fa-instagram"></i> </a>
                        <a href="https://www.facebook.com/sentirelserfilosofia/"> <i class="facebook fab fa-facebook"></i> </a>
                    </span>
                    </p>
                    </div>
                </article>

                <article class="box-profesores" id="profesores-mica">
                    <img id="profesores-img-mica" src="/img/FotoMicaelaPrusso.jpg" alt="profesora Micaela Prusso">
                    <div class="box-profesores">
                    <h3 class="profesores-nombre">Micaela Prusso</h3>
                    <p class="profesores-descripcion"><span>"Estamos profundamente unidos y en cada uno de nosotros habita la totalidad del Universo"</span>
                        Nací bajo el signo de Piscis, con Luna en Géminis y Ascendente Capricornio. Desde pequeña
                        me interesó comprender la existencia, el comportamiento humano y el funcionamiento del
                        inconsciente. Con el tiempo, fui incursionando, estudiando e investigando diferentes disciplinas
                        como Astrología, Biodescodificación, Psicogenealogía, Interpretación de Sueños, Tarot, Yoga,
                        Tantra y Meditación, entre otros.<br><br> 
                        Exploradora incansable de los misterios del Universo, encontré en la Astrología una
                        herramienta integral para conectar con la energía del Ser manifestándose a cada instante, para
                        comprender la psicología y los comportamientos humanos, y sanar desde la raíz.
                        Mi mayor fuente de experiencia y aprendizaje ha sido mi propio proceso terapéutico,
                        acompañada de profesionales y maestros que me han ayudado a sanar la niña herida que fui y
                        a reconectarme con mi esencia.<br><br> 
                        En ese camino de integración, conocí a Santiago, con quien comparto mi vida, proyectos,
                        sueños e intereses. Juntos desarrollamos, con mucho amor, este espacio de conexión y
                        conocimiento, con el fin de acompañar a otras personas en sus procesos de búsqueda. Para
                        guiarlos en el trabajo arduo y paciente que implica un cambio a nivel profundo, para
                        comprender el origen de su forma de entender el mundo y aprender a desaprender.<br><br> 
                        Con esa intención co-creamos las clases y consultas, como un entorno seguro donde poder ir
                        «deshaciendo» creencias e ir dando espacio a la construcción de algo nuevo,
                        responsabilizándose por el trabajo que implica y mejorando la calidad de vida.
                        Cada propuesta se enfoca tanto en las necesidades físicas, como en las mentales,
                        emocionales y espirituales, para así alcanzar la meta de sanación y equilibrio que buscas con
                        tus propios tiempos y procesos individuales.<br><br> 
                        Mi misión es la de aprender con persistencia a superarme, a trascender mis limitaciones, para
                        ser cada día más feliz, a gozar de la existencia y disfrutar del bienestar, viendo en cada una de
                        las dificultades un desafío y una nueva oportunidad de expandir la alegría y el amor que la vida
                        contiene.<br><br> 
                        Cada ser humano tiene su propósito. El mío, es acompañarte y ayudarte a encontrar el tuyo.
                        <span class="contacto-profesores">
                        Contacto
                        <a href="https://www.instagram.com/micamoksha/"> <i class="instagram fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/micamoksha"> <i class="facebook fab fa-facebook"></i> </a>
                    </span>
                    </p>
                    </div>

                </article>
            </section>
        </div>

<!-- -------------------------------------Estudia Online -->

<%-include('includes/formaciones')%> 

<!-- --------------------------------------------------testimonios -->

<%-include('includes/testimonios')%> 

        
<!-- ----------------------------Aprende con nosotros -->

<%-include('includes/aprende')%> 



    </main>
    <%-include('includes/footer')%> 
  </body>
</html>
