<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('includes/head') %>
    <title>Escuela Online - Sentir el Ser</title>
    <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/formaciones.css">
    <link rel="stylesheet" href="/css/profesores.css">
    <link rel="stylesheet" href="/css/aprende.css">
    <link rel="stylesheet" href="/css/include-formaciones.css">
    <link rel="stylesheet" href="/css/testimonios.css">
  </head>
  <body>
    <%-include('includes/header')%>

    <!-- -----------------------------------------------MAIN----------------------------------------------- -->

    <main>

          <article class="art-formaciones" id="art-cursos">
            <img src="img/icons/Cursos.png" alt="">
            <h2>Formación</h2>
            <p>La formación consta de la fusión de distintos talleres que apuntan a la integración de energías puntuales de
              tu ser. Te permitirán desarrollar profundamente las potencialidades de tu ser, a través de distintas áreas
              que se complementan.
              Tienen un potente enfoque práctico y, no es necesario tener conocimientos previos. Aprenderás sobre
              distintas áreas de conocimientos Astro-Filosóficos, así como diferentes habilidades prácticas para tu
              desarrollo personal.
              Han sido diseñadas tanto para quienes quieren adquirir conocimientos y ejercicios prácticos para su
              desarrollo personal, como para terapeutas holísticos que quieran contar con herramientas propias de la
              Astrología y la Filosofía para ayudar a sus pacientes.
              Se darán contenidos teórico en textos y explicaciones en video, así como ejercicios para aplicar los
              conocimientos en la cotidianidad. Porque no basta con entender racionalmente cómo funciona nuestra
              mente, nuestras emociones y nuestra energía, sino que, es necesario también, contar con herramientas que
              nos permitan llevar a la práctica los conocimientos adquiridos para integrarlos a nuestra vida diaria.
              Al adquirir un curso tendrás acceso al contenido por dos años, desde donde y cuando quieras, para que
              puedas aprender a tu propio ritmo. Lo podrás ver cuantas veces quieras, desde cualquier dispositivo. Y
              contarás con un espacio dónde hacer consultas e interactuar con los docentes y otros estudiantes.
              Al finalizar, habrás obtenido conocimientos en profundidad sobre distintas perspectivas que abordan el
              tema estudiado, así como distintas experiencias que te permitirán integrar esos aprendizajes y desarrollar
              tu potencial.
              </p>
          </article>

        </section>
        <div id="separador">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>>
<!-- --------------------------------------------------testimonios -->

<%-include('includes/testimonios')%> 

<!-- -------------------------------------Estudia Online -->

<%-include('includes/formaciones')%> 
<!-- ----------------------------Aprende con nosotros -->

<!-- ----------------------------Profesores -->

<%-include('includes/profesores')%> 

<%-include('includes/aprende')%> 


    </main>
<%-include('includes/footer')%> 
  </body>
</html>
