<!-- //Vista sin uso hasta ahora -->

<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('includes/head') %>
    <title>Escuela Online - Sentir el Ser</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/formaciones.css">
    <link rel="stylesheet" href="/css/profesores.css">
    <link rel="stylesheet" href="/css/aprende.css">
    <link rel="stylesheet" href="/css/include-formaciones.css">
    <link rel="stylesheet" href="/css/testimonios.css">
  </head>
  <body>
    <%-include('includes/header')%>

    <!-- -----------------------------------------------MAIN----------------------------------------------- -->

    <main>
        <section id="formaciones-box">
          <h1 id="titulo-formaciones">¡Estudiá Online en Sentir el Ser!</h1>
          <article class="art-formaciones" id="art-masterclass">
            <img src="/img/icons/Masterclass.png" alt="">
            <h2>Masterclass</h2>
            <p>Las masterclass constan de una clase intensiva sobre un tema particular. Tienen un potente enfoque
              práctico y, no es necesario tener conocimientos previos. Aprenderás los conceptos principales sobre la
              temática estudiada, así como las habilidades prácticas mas efectivas para desarrollarte en esa área.<br>
              Han sido diseñadas tanto para quienes quieren adquirir conocimientos y ejercicios prácticos para su
              desarrollo personal, como para terapeutas holísticos que quieran contar con herramientas propias de la
              Astrología y la Filosofía para ayudar a sus pacientes.<br>
              Se darán contenidos teórico en textos y explicaciones en video, así como ejercicios para aplicar los
              conocimientos en la cotidianidad. Porque no basta con entender racionalmente cómo funciona nuestra
              mente, nuestras emociones y nuestra energía, sino que, es necesario también, contar con herramientas que
              nos permitan llevar a la práctica los conocimientos adquiridos para integrarlos a nuestra vida diaria.<br>
              Al adquirir una masterclass tendrás acceso al contenido por dos años, desde donde y cuando quieras, para
              que puedas aprender a tu propio ritmo. Lo podrás ver cuantas veces quieras, desde cualquier dispositivo.
              Y contarás con un espacio dónde hacer consultas e interactuar con los docentes y otros estudiantes.<br>
              Al finalizar, habrás obtenido los conocimientos principales sobre el tema estudiado, así como distintas
              experiencias que te permitirán integrar esos aprendizajes y desarrollar tu potencial.
              </p>
          </article>

          <article class="art-formaciones" id="art-talleres">
            <img src="/img/icons/Seminarios png" alt="">
            <h2>Talleres</h2>
            <p>Los seminarios constan de una serie clases que permiten profundizar en un tema particular. Tienen un potente
              enfoque práctico y, no es necesario tener conocimientos previos.<br>
              Aprenderás sobre las temáticas principales del tema estudiado, así como diferentes habilidades prácticas
              para tu desarrollo personal.<br>
              Han sido diseñadas tanto para quienes quieren adquirir conocimientos y ejercicios prácticos para su
              desarrollo personal, como para terapeutas holísticos que quieran contar con herramientas propias de la
              Astrología y la Filosofía para ayudar a sus pacientes.<br>
              Se darán contenidos teórico en textos y explicaciones en video, así como ejercicios para aplicar los
              conocimientos en la cotidianidad. Porque no basta con entender racionalmente cómo funciona nuestra
              mente, nuestras emociones y nuestra energía, sino que, es necesario también, contar con herramientas que
              nos permitan llevar a la práctica los conocimientos adquiridos para integrarlos a nuestra vida diaria.
              Al adquirir un taller tendrás acceso al contenido por dos años, desde donde y cuando quieras, para que
              puedas aprender a tu propio ritmo. Lo podrás ver cuantas veces quieras, desde cualquier dispositivo. Y
              contarás con un espacio dónde hacer consultas e interactuar con los docentes y otros estudiantes.<br>
              Al finalizar, habrás obtenido conocimientos en profundidad sobre el tema estudiado, así como distintas
              experiencias que te permitirán integrar esos aprendizajes y desarrollar tu potencial.
              
              
              </p>
          </article>

          <article class="art-formaciones" id="art-cursos">
            <img src="/img/icons/Cursos.png" alt="">
            <h2>Formación</h2>
            <p>La formación consta de la fusión de distintos talleres que apuntan a la integración de energías puntuales de
              tu ser. Te permitirán desarrollar profundamente las potencialidades de tu ser, a través de distintas áreas
              que se complementan.<br>
              Tienen un potente enfoque práctico y, no es necesario tener conocimientos previos. Aprenderás sobre
              distintas áreas de conocimientos Astro-Filosóficos, así como diferentes habilidades prácticas para tu
              desarrollo personal.<br>
              Han sido diseñadas tanto para quienes quieren adquirir conocimientos y ejercicios prácticos para su
              desarrollo personal, como para terapeutas holísticos que quieran contar con herramientas propias de la
              Astrología y la Filosofía para ayudar a sus pacientes.<br>
              Se darán contenidos teórico en textos y explicaciones en video, así como ejercicios para aplicar los
              conocimientos en la cotidianidad. Porque no basta con entender racionalmente cómo funciona nuestra
              mente, nuestras emociones y nuestra energía, sino que, es necesario también, contar con herramientas que
              nos permitan llevar a la práctica los conocimientos adquiridos para integrarlos a nuestra vida diaria.
              Al adquirir un curso tendrás acceso al contenido por dos años, desde donde y cuando quieras, para que
              puedas aprender a tu propio ritmo. Lo podrás ver cuantas veces quieras, desde cualquier dispositivo. Y
              contarás con un espacio dónde hacer consultas e interactuar con los docentes y otros estudiantes.<br>
              Al finalizar, habrás obtenido conocimientos en profundidad sobre distintas perspectivas que abordan el
              tema estudiado, así como distintas experiencias que te permitirán integrar esos aprendizajes y desarrollar
              tu potencial.
              </p>
          </article>

        </section>
        <div id="separador">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>>


<!-- --------------------------------------------------testimonios -->

<%-include('includes/testimonios')%> 

<!-- -------------------------------------Estudia Online -->

<%-include('includes/formaciones')%> 
<!-- ----------------------------Aprende con nosotros -->

<!-- ----------------------------Profesores -->

<%-include('includes/profesores')%> 

<%-include('includes/aprende')%> 


    </main>
<%-include('includes/footer')%> 
  </body>
</html>
