<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('includes/head') %>
    <title>Escuela Online - Sentir el Ser</title>
    <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/css/formaciones.css">
    <link rel="stylesheet" href="/css/profesores.css">
    <link rel="stylesheet" href="/css/aprende.css">
    <link rel="stylesheet" href="/css/include-formaciones.css">
    <link rel="stylesheet" href="/css/testimonios.css">
    <link rel="stylesheet" href="/css/masterclass.css">
  </head>
  <body>
    <%-include('includes/header')%>

    <!-- -----------------------------------------------MAIN----------------------------------------------- -->

    <main>
        <section id="formaciones-box">
          <h1>¡Estudiá Online en Sentir el Ser!</h1>
          <article class="art-formaciones" id="art-masterclass">
            <img src="/img/Masterclass.png" alt="icono masterclass">
            <h2>Masterclass</h2>
            <p>Las masterclass constan de una clase intensiva sobre un tema particular. Tienen un potente enfoque
              práctico y, no es necesario tener conocimientos previos. Aprenderás los conceptos principales sobre la
              temática estudiada, así como las habilidades prácticas mas efectivas para desarrollarte en esa área.
              Han sido diseñadas tanto para quienes quieren adquirir conocimientos y ejercicios prácticos para su
              desarrollo personal, como para terapeutas holísticos que quieran contar con herramientas propias de la
              Astrología y la Filosofía para ayudar a sus pacientes.
              Se darán contenidos teórico en textos y explicaciones en video, así como ejercicios para aplicar los
              conocimientos en la cotidianidad. Porque no basta con entender racionalmente cómo funciona nuestra
              mente, nuestras emociones y nuestra energía, sino que, es necesario también, contar con herramientas que
              nos permitan llevar a la práctica los conocimientos adquiridos para integrarlos a nuestra vida diaria.
              Al adquirir una masterclass tendrás acceso al contenido por dos años, desde donde y cuando quieras, para
              que puedas aprender a tu propio ritmo. Lo podrás ver cuantas veces quieras, desde cualquier dispositivo.
              Y contarás con un espacio dónde hacer consultas e interactuar con los docentes y otros estudiantes.
              Al finalizar, habrás obtenido los conocimientos principales sobre el tema estudiado, así como distintas
              experiencias que te permitirán integrar esos aprendizajes y desarrollar tu potencial.
              </p>
          </article>
        </section>


        <h3 id="accede-title">ACCEDE AHORA MISMO A NUESTRAS MASTERCLASSES</h3>
        <section id="section-masterclass">
        <a target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-secretos-familiares/">
          <article class="art-masterclass">
            <h2>Secretos Familiares</h2>
            <img src="/img/formaciones/masterclass-secretos-familiares.png" alt="masterclass secretos familiares">
            <p>Trabajaremos con los secretos familiares desde la astrogenealogía, una herramienta muy últil, sobre todo cuando contamos con pocos datos sobre la historia familiar.
              </p>
              <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-secretos-familiares/">Mas Info</a>

          </article>
          </a>
          <a target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-despierta-tu-energia-creativa-reconectando-con-tu-nino-interior/">
          <article class="art-masterclass">
            <h2>La energía del niño</h2>
            <img src="/img/formaciones/masterclass-niño.png" alt="masterclass la energía del niño">
            <p>Clase Online de 2 horas de duración + manual de ejercicios.

              La clase está grabada y podrás verla todas las veces que quieras.
              
              No es necesario tener conocimientos previos.</p>
              <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-despierta-tu-energia-creativa-reconectando-con-tu-nino-interior/">Mas Info</a>

          </article>
        </a>

        <a target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-pareja-y-arbol-genealogico/">
          <article class="art-masterclass">
            <h2>Pareja y árbol genealógico</h2>
            <img src="/img/formaciones/masterclass-pareja.png" alt="masterclass pareja y arbol genealogico">
            <p>Clase Online de 2 horas de duración + manual de ejercicios.

              Podrás verla grabada todas las veces que quieras.
              
              No es necesario tener conocimientos previos ni haber armado el árbol genealógico.</p>
              <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-pareja-y-arbol-genealogico/">Mas Info</a>

          </article>
        </a>

        <a target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-pareja-y-arbol-genealogico/">
          <article class="art-masterclass">
            <h2>Secretos Familiares</h2>
            <img src="/img/formaciones/secretos-familiares.png" alt="masterclass secretos familiares">
            <p>Árbol Genealógico + Astrogenealogía.

              Trabajaremos con los secretos familiares desde la astrogenealogía, una herramienta muy últil, sobre todo cuando contamos con pocos datos sobre la historia familiar.
              
              La clase será en vivo el viernes 5/11 de 19 a 21 hs. (Arg) y quedará grabada para que puedas verla cuando quieras.
              
             </p>
             <a class="button"  href="https://sentirelser.mitiendanube.com/productos/masterclass-pareja-y-arbol-genealogico/">Mas Info</a>

          </article>

          <a target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-pareja-y-arbol-genealogico/">
            <article class="art-masterclass">
              <h2>Integración de Sueños</h2>
              <img src="/img/formaciones/integracion-de-sueños.jpg" alt="masterclass integracion de sueños">
              <p>Un curso para aprender a explorar tus sueños, conectar con tu sabiduría y desbloquear tu potencial. 

                A través de todo el material del seminario, podrás ir desarrollando una relación fluida y beneficiosa con tus sueños, de forma que tus noches y tus días se llenarán de sentido.
                
               </p>
               <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-pareja-y-arbol-genealogico/">Mas Info</a>

            </article>
          </a>
        </a>
        </section>


        <div id="separador">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>>

<!-- -------------------------------------Estudia Online -->

<%-include('includes/formaciones')%> 
<!-- --------------------------------------------------testimonios -->

<%-include('includes/testimonios')%> 

<!-- ----------------------------Profesores -->

<%-include('includes/profesores')%>

<!-- ----------------------------Aprende con nosotros -->
<%-include('includes/aprende')%> 


    </main>
<%-include('includes/footer')%> 
  </body>
</html>
