<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('includes/head') %>
    <title>Escuela Online - Sentir el Ser</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/css/profesores.css">
    <link rel="stylesheet" href="/css/aprende.css">
    <link rel="stylesheet" href="/css/include-formaciones.css">
    <link rel="stylesheet" href="/css/testimonios.css">
    <link rel="stylesheet" href="/css/masterclass.css">
  </head>
  <body>
    <%-include('includes/header')%>

    <!-- -----------------------------------------------MAIN----------------------------------------------- -->

    <main>
    

        <h3 id="accede-title">ACCEDE AHORA MISMO A NUESTRAS MASTERCLASSES</h3>
        <section id="section-masterclass">

          <article class="art-masterclass">
            <a class="art-a" target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-secretos-familiares/">
            <h2>Secretos Familiares</h2>
            <img src="/img/formaciones/masterclass-secretos-familiares.png" alt="masterclass secretos familiares">
            <p>Trabajaremos con los secretos familiares desde la astrogenealogía, una herramienta muy últil, sobre todo cuando contamos con pocos datos sobre la historia familiar.
              </p>
              <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-secretos-familiares/">Mas Info</a>
            </a>
          </article>

          <article class="art-masterclass">
            <a class="art-a" target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-despierta-tu-energia-creativa-reconectando-con-tu-nino-interior/">
            <h2>Energía Creativa</h2>
            <img src="/img/formaciones/masterclass-niño.png" alt="masterclass la energía del niño">
            <p>Clase Online de 2 horas de duración + manual de ejercicios.

              La clase está grabada y podrás verla todas las veces que quieras.
              
              No es necesario tener conocimientos previos.</p>
              <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-despierta-tu-energia-creativa-reconectando-con-tu-nino-interior/">Mas Info</a>
            </a>
          </article>

          <article class="art-masterclass">
            <a class="art-a" target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-pareja-y-arbol-genealogico/">
            <h2>Pareja y árbol genealógico</h2>
            <img src="/img/formaciones/masterclass-pareja.png" alt="masterclass pareja y arbol genealogico">
            <p>Clase Online de 2 horas de duración + manual de ejercicios.

              Podrás verla grabada todas las veces que quieras.</p>
              <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-pareja-y-arbol-genealogico/">Mas Info</a>
            </a>
          </article>

          <article class="art-masterclass">
            <a class="art-a" target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-secretos-familiares/">
            <h2>Secretos Familiares</h2>
            <img src="/img/formaciones/masterclass-secretos-familiares.jpg" alt="masterclass secretos familiares">
            <p>Trabajaremos con los secretos familiares desde la astrogenealogía, una herramienta muy últil, sobre todo cuando contamos con pocos datos sobre la historia familiar.
            </p>
            <a class="button"  href="https://sentirelser.mitiendanube.com/productos/masterclass-secretos-familiares/">Mas Info</a>
          </article>

          <article class="art-masterclass">
              <a class="art-a" target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-pareja-y-arbol-genealogico/">
              <h2>Integración de Sueños</h2>
              <img src="/img/formaciones/masterclass-sueños.jpg" alt="masterclass integracion de sueños">
              <p>Un curso para aprender a explorar tus sueños, conectar con tu sabiduría y desbloquear tu potencial.  
              </p>
              <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-pareja-y-arbol-genealogico/">Mas Info</a>
              </a>
            </article>

            <article class="art-masterclass">
              <a class="art-a" target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-coaching-filosofico/">
              <h2>Coaching Filosófico</h2>
              <img src="/img/formaciones/masterclass-filosofia.jpg" alt="masterclass coaching filosofico">
              <p>Aprende prácticas y ejercicios que pueden ayudarte a despertar a tu filósofo interior, para trascender tus creencias y crear tu propia filosofía y cosmovisión.
              </p>
              <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-coaching-filosofico/">Mas Info</a>
              </a>
            </article>

            <article class="art-masterclass">
              <a class="art-a" target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-abundancia-y-arbol-genealogico/">
              <h2>Coaching Filosófico</h2>
              <img src="/img/formaciones/masterclass-abundancia.jpg" alt="masterclass coaching filosofico">
              <p> 2 horas de video + manuales de ejercicios en PDF para transformar tu conexión con la abundancia a través de tu árbol genealógico.
              </p>
              <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-abundancia-y-arbol-genealogico/">Mas Info</a>
              </a>
            </article>
        </section>


        <section id="formaciones-box">
          <h1 id="titulo-formaciones">¡Estudiá Online en Sentir el Ser!</h1>
          <article class="art-formaciones" id="art-masterclass">
            <h2>Masterclasses</h2>
            <!-- <img src="/img2/masterclass-icon.png" alt="icono masterclass"> -->
            <p>
              <i class="fas fa-chevron-right"></i> Las masterclass constan de una clase intensiva sobre un tema particular. Tienen un potente enfoque
              práctico y, no es necesario tener conocimientos previos. Aprenderás los conceptos principales sobre la
              temática estudiada, así como las habilidades prácticas mas efectivas para desarrollarte en esa área. <br><br>

              <i class="fas fa-chevron-right"></i> Han sido diseñadas tanto para quienes quieren adquirir conocimientos y ejercicios prácticos para su
              desarrollo personal, como para terapeutas holísticos que quieran contar con herramientas propias de la
              Astrología y la Filosofía para ayudar a sus pacientes. <br><br>
              <i class="fas fa-chevron-right"></i> Se darán contenidos teórico en textos y explicaciones en video, así como ejercicios para aplicar los
              conocimientos en la cotidianidad. Porque no basta con entender racionalmente cómo funciona nuestra
              mente, nuestras emociones y nuestra energía, sino que, es necesario también, contar con herramientas que
              nos permitan llevar a la práctica los conocimientos adquiridos para integrarlos a nuestra vida diaria.<br><br>
              <i class="fas fa-chevron-right"></i> Al adquirir una masterclass tendrás acceso al contenido por dos años, desde donde y cuando quieras, para
              que puedas aprender a tu propio ritmo. Lo podrás ver cuantas veces quieras, desde cualquier dispositivo.
              Y contarás con un espacio dónde hacer consultas e interactuar con los docentes y otros estudiantes.<br><br>
              <i class="fas fa-chevron-right"></i> Al finalizar, habrás obtenido los conocimientos principales sobre el tema estudiado, así como distintas
              experiencias que te permitirán integrar esos aprendizajes y desarrollar tu potencial.
              </p>
          </article>
        </section>


        <div id="separador">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>>

<!-- -------------------------------------Estudia Online -->

<%-include('includes/formaciones')%> 
<!-- --------------------------------------------------testimonios -->

<%-include('includes/testimonios')%> 

<!-- ----------------------------Profesores -->

<%-include('includes/profesores')%>

<!-- ----------------------------Aprende con nosotros -->
<%-include('includes/aprende')%> 


    </main>
<%-include('includes/footer')%> 
  </body>
</html>
