
<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('includes/head') %>
    <title>Escuela Online - Sentir el Ser</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/css/formaciones.css">
    <link rel="stylesheet" href="/css/include-aprende.css">
    <link rel="stylesheet" href="/css/include-formaciones.css">
    <link rel="stylesheet" href="/css/include-profesores.css">
    <link rel="stylesheet" href="/css/about-us.css">
  </head>
  <body>
    <%-include('includes/header')%>

    <!-- -----------------------------------------------MAIN----------------------------------------------- -->

    <main>
           
        <div id="profes">
          <section>
            
            <article class="box-profesores" id="profesores-mica">
                  <h2>MICAELA PRUSSO</h2>
                    <img id="profesores-img-mica" src="/img/FotoMicaelaPrusso.jpg" alt="profesora Micaela Prusso">
                    <p class="profesores-descripcion"><span>"Estamos profundamente unidos y en cada uno de nosotros habita la totalidad del Universo"</span>
                        Nací bajo el signo de Piscis, con Luna en Géminis y Ascendente Capricornio. Desde pequeña
                        me interesó comprender la existencia, el comportamiento humano y el funcionamiento del
                        inconsciente. Con el tiempo, fui incursionando, estudiando e investigando diferentes disciplinas
                        como Astrología, Biodescodificación, Psicogenealogía, Interpretación de Sueños, Tarot, Yoga,
                        Tantra y Meditación, entre otros. <br><br>
                        Exploradora incansable de los misterios del Universo, encontré en la Astrología una
                        herramienta integral para conectar con la energía del Ser manifestándose a cada instante, para
                        comprender la psicología y los comportamientos humanos, y sanar desde la raíz.
                        Mi mayor fuente de experiencia y aprendizaje ha sido mi propio proceso terapéutico,
                        acompañada de profesionales y maestros que me han ayudado a sanar la niña herida que fui y
                        a reconectarme con mi esencia. <br><br>
                        En ese camino de integración, conocí a Santiago, con quien comparto mi vida, proyectos,
                        sueños e intereses. Juntos desarrollamos, con mucho amor, este espacio de conexión y
                        conocimiento, con el fin de acompañar a otras personas en sus procesos de búsqueda. Para
                        guiarlos en el trabajo arduo y paciente que implica un cambio a nivel profundo, para
                        comprender el origen de su forma de entender el mundo y aprender a desaprender.
                        Con esa intención co-creamos las clases y consultas, como un entorno seguro donde poder ir
                        «deshaciendo» creencias e ir dando espacio a la construcción de algo nuevo,
                        responsabilizándose por el trabajo que implica y mejorando la calidad de vida.
                        Cada propuesta se enfoca tanto en las necesidades físicas, como en las mentales,
                        emocionales y espirituales, para así alcanzar la meta de sanación y equilibrio que buscas con
                        tus propios tiempos y procesos individuales. <br><br>
                        Mi misión es la de aprender con persistencia a superarme, a trascender mis limitaciones, para
                        ser cada día más feliz, a gozar de la existencia y disfrutar del bienestar, viendo en cada una de
                        las dificultades un desafío y una nueva oportunidad de expandir la alegría y el amor que la vida
                        contiene. <br><br>
                        Cada ser humano tiene su propósito. El mío, es acompañarte y ayudarte a encontrar el tuyo.
                        <span class="contacto-profesores">
                        Contacto
                        <a href="https://www.instagram.com/micamoksha/"> <i class="instagram fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/micamoksha"> <i class="facebook fab fa-facebook"></i></a>
                    </span>
                    </p>

                </article>
            </section>
        </div>

        <div id="separador-profesores">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>>

<!-- ----------------------------Profesores -->

<%-include('includes/profesores')%> 
<!-- -------------------------------------Estudia Online -->

<%-include('includes/formaciones')%> 
<!-- ----------------------------Aprende con nosotros -->


<%-include('includes/aprende')%> 


    </main>
<%-include('includes/footer')%> 
  </body>
</html>

