<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('includes/head') %>
    <title>Escuela Online - Sentir el Ser</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/css/formaciones.css">
    <link rel="stylesheet" href="/css/profesores.css">
    <link rel="stylesheet" href="/css/aprende.css">
    <link rel="stylesheet" href="/css/include-formaciones.css">
    <link rel="stylesheet" href="/css/testimonios.css">
    <link rel="stylesheet" href="/css/seminarios.css">
  </head>
  <body>
    <%-include('includes/header')%>

    <!-- -----------------------------------------------MAIN----------------------------------------------- -->

    <main>
      <h3 id="accede-title">ACCEDE AHORA MISMO A NUESTROS SEMINARIOS</h3>
      <section id="section-seminarios">

        <article class="art-seminarios">
          <a class="art-a" target="_blank" href="/tecnicas-sueos">
          <h2>Comprensión de sueños</h2>
          <img src="/img/formaciones/seminario-tecnicas-sueos.jpg" alt="seminarios sueños">
          <p>Seminario Online de 3 meses de duración. Aula virtual con acceso ilimitado. Material extra. Espacio para hacer consultas
            </p>
            <a class="button" href="/tecnicas-sueos">Mas Info</a>
          </a>
        </article>
        <article class="art-seminarios">
          <a class="art-a" target="_blank" href="/arbol-genealogico">
          <h2>Transgeneracional</h2>
          <img src="/img/formaciones/seminario-arbol-genealogico.png" alt="seminarios secretos familiares">
          <p>Seminario Online de 3 meses de duración. Aula virtual con acceso ilimitado. Material extra. Espacio para hacer consultas
            </p>
            <a class="button" href="/arbol-genealogico">Mas Info</a>
          </a>
        </article>

        <article class="art-seminarios">
          <a class="art-a" target="_blank" href="/astrogenealogia">
          <h2>Astrogenealogía</h2>
          <img src="/img/formaciones/seminario-astrogenealogia.png" alt="seminarios la energía del niño">
          <p>
            Seminario Online de 3 meses de duración. Aula virtual con acceso ilimitado. Material extra. Espacio para hacer consultas
          </p>
            <a class="button" href="/astrogenealogia">Mas Info</a>
          </a>
        </article>

        <article class="art-seminarios">
          <a class="art-a" target="_blank" href="https://sentirelser.mitiendanube.com/productos/masterclass-integracion-de-suenos/">
          <h2>Astrogenealogía intensivo</h2>
          <img src="/img/formaciones/seminario-astrogenealogia-intensivo.png" alt="seminarios pareja y arbol genealogico">
          <p>Clase Online de 2 horas de duración + manual de ejercicios.
            
            No es necesario tener conocimientos previos ni haber armado el árbol genealógico.</p>
            <a class="button" href="https://sentirelser.mitiendanube.com/productos/masterclass-integracion-de-suenos/">Mas Info</a>
          </a>
        </article>

        <article class="art-seminarios">
          <a class="art-a" target="_blank" href="https://sentirelser.mitiendanube.com/productos/seminario-de-inteligencia-emocional/">
          <h2>Inteligencia Emocional</h2>
          <img src="/img/formaciones/inteligencia-emocional.png" alt="seminarios inteligencia emocional">
          <p>3 clases grabadas + material extra para reconocer e integral las emociones, liberar bloqueos y vivir en plenitud y armonía.

            Lanzamiento 19/11</p>
            <a class="button" href="https://sentirelser.mitiendanube.com/productos/seminario-de-inteligencia-emocional/">Mas Info</a>
          </a>
        </article>

        <article class="art-seminarios last">
          <a class="art-a" target="_blank" href="https://sentirelser.mitiendanube.com/productos/seminario-de-inteligencia-emocional/">
          <h2>Reprogramación de la Memoria Celular</h2>
          <img src="/img/formaciones/seminario-reprogramacion.jpg" alt="seminarios reprogramacion">
          <p>Memoria Celular para eliminar bloqueos emocionales y reprogramar creencias. Creencias limitantes y potenciadoras. De víctima a protagonista. Plan de acción para lograr metas y objetivos

</p>
            <a class="button" href="https://sentirelser.mitiendanube.com/productos/seminario-de-reprogramacion-de-la-memoria-celular/">Mas Info</a>
          </a>
        </article>

      </section>
        <section id="formaciones-box">
          <h1 id="titulo-formaciones">¡Estudiá Online en Sentir el Ser!</h1>

          <article class="art-formaciones" id="art-seminarios">
            <h2>Seminarios</h2>
            <p>
              <i class="fas fa-chevron-right"></i> Los seminarios constan de una serie clases que permiten profundizar en un tema particular. Tienen un potente
              enfoque práctico y, no es necesario tener conocimientos previos.
              Aprenderás sobre las temáticas principales del tema estudiado, así como diferentes habilidades prácticas
              para tu desarrollo personal. <br><br>

              <i class="fas fa-chevron-right"></i>Han sido diseñadas tanto para quienes quieren adquirir conocimientos y ejercicios prácticos para su
              desarrollo personal, como para terapeutas holísticos que quieran contar con herramientas propias de la
              Astrología y la Filosofía para ayudar a sus pacientes. <br><br>
              
              <i class="fas fa-chevron-right"></i> Se darán contenidos teórico en textos y explicaciones en video, así como ejercicios para aplicar los
              conocimientos en la cotidianidad. Porque no basta con entender racionalmente cómo funciona nuestra
              mente, nuestras emociones y nuestra energía, sino que, es necesario también, contar con herramientas que
              nos permitan llevar a la práctica los conocimientos adquiridos para integrarlos a nuestra vida diaria.<br><br>

               <i class="fas fa-chevron-right"></i> Al adquirir un taller tendrás acceso al contenido por dos años, desde donde y cuando quieras, para que
              puedas aprender a tu propio ritmo. Lo podrás ver cuantas veces quieras, desde cualquier dispositivo. Y
              contarás con un espacio dónde hacer consultas e interactuar con los docentes y otros estudiantes.<br><br>

              <i class="fas fa-chevron-right"></i> Al finalizar, habrás obtenido conocimientos en profundidad sobre el tema estudiado, así como distintas
              experiencias que te permitirán integrar esos aprendizajes y desarrollar tu potencial.
              
              
              </p>
          </article>

        </section>


        



        <div id="separador">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>>
<!-- -------------------------------------Estudia Online -->

<%-include('includes/formaciones')%> 
<!-- --------------------------------------------------testimonios -->

<%-include('includes/testimonios')%> 

<!-- ----------------------------Profesores -->

<%-include('includes/profesores')%>

<!-- ----------------------------Aprende con nosotros -->
<%-include('includes/aprende')%> 



    </main>
<%-include('includes/footer')%> 
  </body>
</html>
