<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('includes/head') %>
    <title>Escuela Online - Sentir el Ser</title>
    <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/formaciones.css">
    <link rel="stylesheet" href="/css/profesores.css">
    <link rel="stylesheet" href="/css/aprende.css">
    <link rel="stylesheet" href="/css/include-formaciones.css">
    <link rel="stylesheet" href="/css/testimonios.css">
    <link rel="stylesheet" href="/css/Seminarios.css">
  </head>
  <body>
    <%-include('includes/header')%>

    <!-- -----------------------------------------------MAIN----------------------------------------------- -->

    <main>
        <section id="formaciones-box">
          <h1>¡Estudiá Online en Sentir el Ser!</h1>

          <article class="art-formaciones" id="art-seminarios">
            <img src="img/icons/Talleres.png" alt="">
            <h2>Seminarios</h2>
            <p>Los seminarios constan de una serie clases que permiten profundizar en un tema particular. Tienen un potente
              enfoque práctico y, no es necesario tener conocimientos previos.
              Aprenderás sobre las temáticas principales del tema estudiado, así como diferentes habilidades prácticas
              para tu desarrollo personal
              Han sido diseñadas tanto para quienes quieren adquirir conocimientos y ejercicios prácticos para su
              desarrollo personal, como para terapeutas holísticos que quieran contar con herramientas propias de la
              Astrología y la Filosofía para ayudar a sus pacientes.
              Se darán contenidos teórico en textos y explicaciones en video, así como ejercicios para aplicar los
              conocimientos en la cotidianidad. Porque no basta con entender racionalmente cómo funciona nuestra
              mente, nuestras emociones y nuestra energía, sino que, es necesario también, contar con herramientas que
              nos permitan llevar a la práctica los conocimientos adquiridos para integrarlos a nuestra vida diaria.
              Al adquirir un taller tendrás acceso al contenido por dos años, desde donde y cuando quieras, para que
              puedas aprender a tu propio ritmo. Lo podrás ver cuantas veces quieras, desde cualquier dispositivo. Y
              contarás con un espacio dónde hacer consultas e interactuar con los docentes y otros estudiantes.
              Al finalizar, habrás obtenido conocimientos en profundidad sobre el tema estudiado, así como distintas
              experiencias que te permitirán integrar esos aprendizajes y desarrollar tu potencial.
              
              
              </p>
          </article>

        </section>


        <h3 id="accede-title">ACCEDE AHORA MISMO A NUESTROS SEMINARIOS</h3>
        <section id="section-seminarios">
        <a target="_blank" href="">
          <article class="art-seminarios">
            <h2>Secretos Familiares</h2>
            <img src="/img/formaciones/seminario-arbol-genealogico.png" alt="seminarios secretos familiares">
            <p>Trabajaremos con los secretos familiares desde la astrogenealogía, una herramienta muy últil, sobre todo cuando contamos con pocos datos sobre la historia familiar.
              </p>
          </article>
          </a>
          <a target="_blank" href="">
          <article class="art-seminarios">
            <h2>La energía del niño</h2>
            <img src="/img/formaciones/seminario-astrogenealogia.png" alt="seminarios la energía del niño">
            <p>Clase Online de 2 horas de duración + manual de ejercicios.

              La clase está grabada y podrás verla todas las veces que quieras.
              
              No es necesario tener conocimientos previos.</p>
          </article>
        </a>

        <a target="_blank" href="">
          <article class="art-seminarios">
            <h2>Pareja y árbol genealógico</h2>
            <img src="/img/formaciones/seminario-sueños.jpg" alt="seminarios pareja y arbol genealogico">
            <p>Clase Online de 2 horas de duración + manual de ejercicios.

              Podrás verla grabada todas las veces que quieras.
              
              No es necesario tener conocimientos previos ni haber armado el árbol genealógico.</p>
          </article>
        </a>

        </section>



        <div id="separador">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>>
<!-- -------------------------------------Estudia Online -->

<%-include('includes/formaciones')%> 
<!-- --------------------------------------------------testimonios -->

<%-include('includes/testimonios')%> 

<!-- ----------------------------Profesores -->

<%-include('includes/profesores')%>

<!-- ----------------------------Aprende con nosotros -->
<%-include('includes/aprende')%> 



    </main>
<%-include('includes/footer')%> 
  </body>
</html>
